<ion-view view-title="Dashboard">
  <ion-header-bar class="bar-positive" align-title="center">
  <h1 class="title" ng-controller="subCtrl"> หน้าหลักวิชา : {{sub.subject}} </h1>
</ion-header-bar>
    <ion-content style="background: url(img/bg/bg6.jpg)">
        <div class="spacer" style="height: 100px;"></div>
        <div class="list">

        <a class="item item-thumbnail-left item-avatar" href="#/tab/takequiz">
           <img src="img/Dash/takeQuiz.png">
              <h2>Take Quiz</h2>
               
        </a>
        <a class="item item-thumbnail-left item-avatar" href="#/tab/progress">
           <img src="img/Dash/Proguess.png">
              <h2>Look your answer</h2>   
        </a>
      </div>
    </ion-content>
</ion-view>
